@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:gray;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: 'odinFont';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

.header {
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    color: white;
    font-family: odinFont;
    flex-wrap:nowrap;
}

.leftPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    align-content:flex-start;
    width: 100%;
    height: 100%;
    font-size: 7vh;
}

.odinLogo {
    width: 10vh;
    height: 13vh;
}

.rightPart {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content:right;
    text-align: right;
    width: 100%;
    height: 100%;
    font-size: 5vh;
    color: #cc9543;
}

.rightPart>p {
    cursor: pointer;
}

.bookSection{
    background-color: #494949;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    height: 80vh;
    border-left: solid black;
    border-right: solid black;
    font-family: Roboto;

}

ul {
    list-style-type: none;
    width: 50%;
    height: 50%;
   }

input,label {
    display: flex;
    flex-direction: row;
    gap:10px;
}

input {
    display: inline;
    font-family: 'Roboto';
    /* Uniform text dsafield size */
    width: 200px;
    height: 34px;
    font-size: 1em;
    box-sizing: border-box;
    padding-left:1%;
    /* Match form field borders */ 
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom:15px;
}

form {
    background-color: #F3F3F3;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
}
