@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:dimgray;
    height: fit-content;
    margin: 0;

}

@font-face {
    font-family: 'odinFont';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

.header {
    padding-right: 5%;
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    color: white;
    font-family: odinFont;
    flex-wrap:nowrap;
}

.leftPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    align-content:flex-start;
    width: 100%;
    height: 100%;
    font-size: 7vh;
    margin-left: 3%;

}

.odinLogo {
    width: 10vh;
    height: 13vh;
}


.bookSection{
    background-color:dimgray;
    width: 100%;
    margin-left: 5%;
    margin-right: 2%;
    height: 80vh;
    margin-top: 0.75%;
    font-family: Roboto;
    gap:10vh
}


ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 25%;
    height: fit-content;
    gap:2%;
    padding-left: 20px;
    margin-top: 0;
    flex-wrap: wrap;
   }

input,label {
    display: flex;
    flex-direction: row;
    gap:10px;
}

label {
    width: 240%;
}

input {
    display: inline;
    font-family: 'Roboto';
    height: 34px;
    font-size: 0.75em;
    box-sizing: border-box;
    padding-left:10%;
    /* Match form field borders */
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom:15px;
}

#bookTitle, #AuthorName{
    max-width: 240px;
    min-width: 20px;
}

form {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 1.15vw;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;
    justify-content: center;
}

button {
    background-color: black;
    font-family: 'Roboto';
    color: white;
    margin-top: 4%;
    margin-left: 3%;
    width: 10vw;
    max-width: 190px;
    height: 40%;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 15px 10px -15px #111;
    cursor: pointer;
}


.addingBook{
    display: grid;
    grid-template: 70px / calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6);
    text-align: center;
    align-items: center;
    font-size:1.1vw;
    width: 100%;
    height: 100%;
}

.box {
    display: grid;
    margin: 0%;
    align-items: center;
    padding: 1%;
    height: 100%;

}

.boxHeader{
    display: grid;
    height: 100%;
    grid-template-rows: 40px;
    background-color: black;
    align-items: center;
    align-content: center;
    text-align: center;
    color:aliceblue;

}

.form {
    width: 20%;
    margin-top: 0.75%;
    margin-left: 2%;
    height: 100%;
}

box {
    position: fixed;
    display: grid;
    background-color: white;
    border-radius: 0px;
    align-self: start;
    text-align: center;
    padding: 1%;
    border-left: solid black;
    border-width: 10px;
    border-radius: 10px;
    margin-left: 1%;
    width: 15%;
    min-height: max-content; 
    font-size: 1.5vh;
    text-align: left;
    box-shadow: 0px 15px 10px -15px #111;

}

.bottomSection { 
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1%;
}
